.img-detail-main{
    height: 440px !important;
    width: 571px;
    left: 165px;
    top: 306px;
    border-radius: 6.983783721923828px;

}

.img-detail-sub{
    height: 84px;
    width: 84px;
    object-fit: cover;
    left: 0px;
    top: 0px;
    border-radius: 6.983783721923828px;

}

.product-name{
    font-family: 'Sansita', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #082435;
    text-transform: capitalize;
}

.vendor{
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #082435;
}

.other-products{
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C7BB8;
    width: 227px;
    padding-bottom: 3px;
    border-bottom: 0.87px solid #1C7BB8;
}

.rating-txt{
    font-family: 'Sansita', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #010609;
    padding: 8px;
    margin-left: 5px;
    margin-top: 2px;
}

.product-star{
    height: 24px;
    width: 24px;
    padding: 8px;
    color: #1C7BB8;
}

.product-call-btn{
    width: 200px;
    text-align: center;
    background-color: #1C7BB8 !important;
    color: #FFFFFF !important;
    text-transform: capitalize !important;
}

.product-sum{
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.product-txt{
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #082435;
}

.product-icon{
    font-family: 'Sansita', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: right;
    color: #1C7BB8;
    cursor: pointer;
}

.add{
    cursor: pointer;
}

.icon{
    height: 16.848377227783203px;
    width: 18.768918991088867px;
    color: #1C7BB8;
}

/* .icon-a{
    padding-left: 19px;
} */

.check{
    padding-left: 16.5px;
    width: 18px;
}

.ver-ven{
 font-size: 18px;    
}

.full-des{
    font-family: 'Sansita', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.des-card{
    background-color: #F6F8F9;
}

.qna-a{
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
}

.card-rate{
    height: 233px;
    width: 200px;
    border-radius: 8px;
    background-color: #AFD8F3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.rate-box{
    padding-top: 27%;
}

.ave-rate{
    font-family: 'Sansita', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    color: #165F8E;
}

.ave-count{
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #165F8E;
}

.progress{
    /* width: 50%; */
    /* height: 6px; */
    width: 116px;
    border-radius: 3px;
    color: #AFD8F3;
    margin-top: 3%;
}

.prod-rate-count{
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #082435;
}

.prog{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5%;
    /* margin-top: 1%; */

}

.rate-no{
    padding-right: 18px;
    padding-left: 18px;
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F4161;
}

.rate-no-b{
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Sansita', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F4161;
}

.product-star-b{
    height: 18px;
    width: 18px;
    border-radius: 0px;
    color: #1C7BB8;
}

.ven-head{
    border-top: 3px solid #AFD8F3;
}


.map-card .map-container {
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}

.map-card .map-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-card{
    height: 400px;
    width: 350px;
}

.sb-example-3 .search__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: #575756;
    background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.sb-example-3 .search__input::placeholder {
        color: rgba(87, 87, 86, 0.8);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

.sb-example-3 .search__input:hover,
    .search__input:focus {
        padding: 12px 0 !important;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
        background-color: inherit !important;
        border-radius: 8px !important;
        padding-left: 12px !important;
    }

.review-btn{
    width: 300px;
    border-radius: 8px !important;
    background-color: #1C7BB8 !important;
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    text-align: left;
    color: #FFFFFF !important;
}

.mapouter{position:relative;text-align:right;height:400px;width:350px;}
.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:350px;}


.main-prod-title{
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #082435;
}

.sub-prod-title{
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #082435;
}




.overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
    width: 187px;
    border-radius: nullpx;
    font-family: 'Sansita', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #010609;
    text-transform: capitalize;
}

.card-foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ic{
    margin-left: 8px;
}

.lc{
    margin-right: 3px;
}

.card-foot-icon i{
    
    height: 11.3px;
    width: 12.5px;
    border-radius: 0px;
    color: #292D32;
}

.product-card{
    width: auto;
    height: 347px;
    border-radius: 8px;
}


.product-img{
    width: 275px;
    height: 218px;;
    padding: 7px;
    border-radius: 8px;
    object-fit: cover;
}

.product-card:hover > .product-img{
    transform: scale(0.99);
    transition: all .2s ease-in-out;
    padding: 0px;
}

.product-heading{
    font-family: 'Sansita', sans-serif;
    text-align: left;
    color: #1C7BB8;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    border-bottom: 3px solid #1C7BB8;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prod-cat{
    font-family: 'Sansita', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #526A7A;
}

.prod-location{
    font-family: 'Sansita', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    color: #526A7A;
}

.prod-icon-location{
    padding-right: 9.96px;
}

.price{
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #1C7BB8;
    overflow: hidden;
    text-overflow: ellipsis;
}


.to-top-btn{
    height: 44px;
    width: 153px;
    float: right !important;
    border-radius: 8px;
    background-color: #1C7BB8;
    color: #FFFFFF;
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 10px, 20px, 10px, 20px;
    border: none;
}

.to-top-btn:hover{
    background-color: #FFFFFF;
    color: #1C7BB8;
}

.to-top-icon{
    padding-left: 14px;
}

.disabled{
    opacity:0.6; 
    pointer-events: none;
}











/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    color: black;
    cursor: pointer;
  }
  
  .open-button:hover{
      /* color: #1C7BB8 !important; */
      font-size: 16px;
      }

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 20%;
    left: 50%;
    justify-content: center;
    align-items: center;
    margin:-50px 0 0 -100px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 320px;
    padding: 10px;
    background-color: #E5E5E5;
  }
  
  /* When the inputs get focus, do something */
  /* Set a style for the submit/login button */
  .form-container .btn {
    /* background-color: #1C7BB8; */
    /* color: #FFFFFF; */
    border: none;
    cursor: pointer;
    width: 69%;
    opacity: 0.8;
    padding: 3px;
    font-size: 24px;
    border-radius: 8px !important;
  }

  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #1C7BB8;
    margin-top: 9px;
    width: 55px;
    height: 28px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 8px !important;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 180px;
    background-color: #1C7BB8 !important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1C7BB8 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }


  .fone{
    cursor: pointer;
}

.fone:hover{
    /* color: #1C7BB8 !important; */
    font-size: 16px;
}




  .popup2 {
    width: 100%;
    position: fixed;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    top: 0;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup2 .popuptext2 {
    visibility: hidden;
    width: 59%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: #1C7BB8;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top: 2%;
  }
  
  /* Popup arrow */
  .popup2 .popuptext2::after {
    content: "";
    position: fixed;
    border-style: solid;
    border-color: #1C7BB8 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }




  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 110px;
    /* margin: 0 auto; */
    position: relative;
    padding: 0;
    /* text-shadow: 0px 1px 0 #a2a2a2; */
}

.star-ratings-css-top {
    color: #1C7BB8;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}





.star-ratings-css2 {
    unicode-bidi: bidi-override;
    color: #010609bd;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    /* padding: 0; */
    /* text-shadow: 0px 1px 0 #a2a2a2; */
}

.star-ratings-css-top2 {
    color: #1C7BB8;
    /* padding: 0; */
    position: absolute;
    z-index: 1;
    display: flex;
    /* top: 0;
    left: 0; */
    overflow: hidden;
}

.star-ratings-css-bottom2 {
    /* padding: 0; */
    display: flex;
    z-index: 0;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

.star-ratings-css3 {
    unicode-bidi: bidi-override;
    color: #010609bd;
    font-size: 25px;
    height: 25px;
    width: 100px;
    /* margin: 0 auto; */
    position: relative;
    /* padding: 0; */
    /* text-shadow: 0px 1px 0 #a2a2a2; */
    align-items: flex-start;
}

.star-ratings-css-top3 {
    color: #1C7BB8;
    /* padding: 0; */
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: left;
    /* top: 0;
    left: 0; */
    overflow: hidden;
}

.star-ratings-css-bottom3 {
    /* padding: 0; */
    display: flex;
    z-index: 0;
    justify-content: left;
}

.rate-title{
    color: #000000;
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    font-weight: bold !important;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.reviewer{
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #0F4161 !important;
}

.rate-des{
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.custom-rate{
    font-family: 'Sansita', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #1C7BB8;
}

.custom-rate:hover{
    text-decoration: underline;
}

.single-img img{
    padding-right: 13px;
    padding-top: 5px;
}

.img-detail-main:hover{
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
    transition: all 300ms ease-in;
    cursor: zoom-in;
}





















